<%= @course.professor %><br />
<%= @course.capacity %> <br />

<h2>Reviews</h2>
<ul>
<% @course.reviews.each do |review| %>
  <li><a href="/reviews/<%=review.id%>"><%= review.title %></a></li>
<% end%>
</ul>
<a href="/reviews/new">Leave a Review</a>
<br />
<br />
